table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
button{
    position: relative;
    top: 10px;
}
.reset{
    position: relative;
    top: 20px;
}
*{
    background-color: wheat;
}
p{
    text-align: center;
}

